<div th:fragment="sampleHead">
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    <link rel="stylesheet" th:href="@{/css/fonts.css}" href="../../static/css/fonts.css" />
    <link rel="shortcut icon" th:href="@{/img/16.ico}" href="../../static/img/16.ico" />
<!--    <link rel="stylesheet" th:href="@{/img/16.ico}" href="../../img/16.ico" />-->

<!--    <link rel="stylesheet" href="css/style.css" type="text/css">-->
<!--    <link rel="stylesheet" href="css/fonts.css" type="text/css">-->
<!--    <link rel = "shortcut icon" href="resources/static/img/16.ico" type="image/x-icon">-->
</div>
