<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- для админов и сотрудников (страница без регистрации и входа) -->
    <head th:insert="samples/sampleHead :: sampleHead"></head>

    <body>
        <header th:insert="samples/sampleNavigation :: sampleNavigation" class="header"></header>

        <div class="start-page">
            <div class="head-line-text">
                <h1>О нас</h1>
            </div>
            <div class="sub-text">
                <h3>
                    Автоматизированная система поддержки деятельности отдела кадров - это система, использующая специальное
                    программное обеспечение для ведения кадрового учёта. <br><br>

                    Отдел кадров существует в любой компании, и его работа становится всё сложнее по мере роста предприятия
                    и появления новых подразделений и должностей. <br><br>

                    Благодаря внедрению автоматизированной системы качество
                    и скорость работы отдела значительно возрастет. <br><br>

                    Автоматизированная система "HRD" позволяет:
                    <ul>
                        <li>Работать с персоналом: поиск, наём, увольнение.</li>
                        <li>Работать с внутренними документами: отчёты, учёт рабочего времени, составление личных дел сотрудников,
                            выдача справок.</li>
                        <li>Расчёт и начисление заработной платы.</li>
                    </ul>
                    Каждый сотрудник отдела кадров имеет доступ ко всей вышеперечисленной функциональности.
                </h3>
            </div>

            <div class="team-photo">
                <img src="img/about.png" alt="">
            </div>
        </div>
    </body>
</html>