<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:insert="samples/sampleHead :: sampleHead"></head>

<body>
<header th:insert="samples/sampleNavigation :: sampleNavigation" class="header"></header>

<div class="start-page">
    <div class="shape shape-small"></div>
    <div class="shape shape-big"></div>
    <div class="container">
        <div class="aside">
<!--            <div class="filter">-->
<!--                Фильтр-->
<!--                <form class="filter-form">-->
<!--                    <select name="list">-->
<!--                        <option>Выберите из списка</option>-->
<!--                        <option>Мы</option>-->
<!--                        <option>Сортируем</option>-->
<!--                        <option>По</option>-->
<!--                    </select>-->
<!--                </form>-->
<!--            </div>-->
            <div th:insert="samples/sampleSearchEmployee :: sampleSearchEmployee"></div>
        </div>

        <div class="block">
            <div class="nav-table">
                <a href="/employees"><h3>Просмотр</h3></a>
                <a href="/addEmployee"><h3> Добавление</h3></a>
                <a href="/edit"><h3>Редактирование</h3></a>
                <a href="remove.html"><h3>Удаление</h3></a>
            </div>
            <div class="table">
                <h3>
                    <table>
                        <tr class="th_padding">
                            <th>Id</th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>Должность</th>
                            <th>Стаж</th>
                            <th>Начало работы</th>
                            <th>Телефон</th>
                            <th>Почта</th>
<!--                            <th>Время работы</th>-->
                            <th>Действие</th>
                        </tr>
                        <div th:each="el : ${employees}">
                            <tr class="td_center">
                                <td><p th:text="${el.id}"></p></td>
                                <td> <p th:text="${el.firstName}"></p></td>
                                <td> <p th:text="${el.lastName}"></p></td>
                                <td> <p th:text="${el.patronymic}"></p></td>
                                <td> <p th:text="${el.position}"></p></td>
                                <!--                                    <td> <p> Должность </p></td>-->
                                <td> <p th:text="${el.experience}"></p></td>
                                <td> <p th:text="${el.startWork}"></p></td>
                                <td> <p th:text="${el.telephone}"></p></td>
                                <td> <p th:text="${el.email}"></p></td>
<!--                                <td> <p><span th:text="${el.timeWork}"></span><span>ч</span></p></td>-->
                                <td>
                                    <form class="form-remove" th:action="'/remove/' + ${el.id}" method="post">
                                        <button type="submit">Уволить</button>
                                    </form>
                                </td>
                            </tr>
                        </div>
                    </table>
                </h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>